<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-tools pull-left nav-tabs-header">
            <ul class="nav nav-tabs" role="tablist">
              <li ng-class="{ 'active' : activeListTab == 'tab1'}" name="tab1">
                <a role="button" data-toggle="tab">待处理</a>
              </li>
              <li ng-class="{ 'active' : activeListTab == 'tab2'}" name="tab2">
                <a role="button" data-toggle="tab">处理中</a>
              </li>
              <li ng-class="{ 'active' : activeListTab == 'tab3'}" name="tab3">
                <a role="button" data-toggle="tab">已完成</a>
              </li>
            </ul>
          </div>
          <div class="box-tools pull-right">
            <span class="history-btn" role="button" ng-show="menuitems['#'+treeviewIndex] == null" data-toggle="返回" title="" data-original-title="返回" onclick="window.history.back();"><i class="proudsmart ps-back-01"></i></span>
          </div>
        </div>
        <!--<div class="box-body">
          <div class="combined-query pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                {{queryDitem.statelabel?queryDitem.statelabel:'查询条件'}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a role="button" ng-click="queryDitem.state=1;queryDitem.statelabel='工单名称';queryDitem.attributeName='modelType'">名称</a>
                </li>
                <li>
                  <a role="button" ng-click="queryDitem.state=2;queryDitem.statelabel='工单号';queryDitem.attributeName='series'">描述</a>
                </li>
              </ul>
            </div>
            <input class="form-control input-sm"  ng-model="loaderValue"  ng-show="!queryDitem.state || queryDitem.state == 2" maxlength="40" type="text" />

            <button class="btn btn-primary btn-sm" ng-click="goSearch()" type="button"><i class="fa fa-search"></i><span class="hidden-sm"> 查询</span></button>
          </div>
        </div>-->
        <div class="box-footer margin-bottom-10 margin-top-15">
          <table width="100%" class="table table-hover" work-order-record></table>
        </div>
      </div>
    </div>
  </div>
</section>